.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;

    margin: auto;
    padding: 1px 7rem;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .home {
            background-color: #1A1A1A;
            padding: 15px 20px;
            border: none;
            color: white;
            border-radius: 12px;
            cursor: pointer;
            text-decoration: none;
        }

        .products {

            padding: 15px 20px;
            border: dashed #1A1A1A 2px;
            color: white;
            border-radius: 12px;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                background-color: #1A1A1A;
                padding: 15px 20px;
                border: none;
                color: black;
                border-radius: 12px;
                background-color: white;
            }

        }
    }

    .mid {
        img {
            height: 6rem;
            width: 6rem;

        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 15px;


        .cart {
            background-color: #1A1A1A;
            padding: 10px 10px;
            border: none;
            color: white;
            border-radius: 12px;
            cursor: pointer;

        }

        .contact {
            padding: 15px 20px;
            border: none;
            background-color: #AE9B84;
            color: black;
            border-radius: 12px;
            cursor: pointer;
            font-size: medium;
            text-decoration: none;
        }
    }
}